a:link {
  text-decoration: none;
  color: #003399
}

a:hover {
  color:darkslategray;
}

.TOR{
  width: 5%;
  margin-right: 15px;
}

.list-group-item{
  background: transparent;
}

.bi-arrow-up-circle{
  color: white;
}

#footing, #horario, #hontanar, #tor-esp, #tor-mundo{
  background-color: #765431;
  color: white;
}

.bible{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #575654;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.bible span{
  background: #fff;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .TOR{
    width: 10%;
    margin-right: 5px;
  }
  .map{
    width: 100%;
    height: 100%;
  }
  .calendar{
    width: 100%;
    height: 100%;
  }
}
